* {
  font-family: 'Cutive Mono', monospace;
}

body {
  margin: 60px auto;
  width: 70%;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul, footer ul {
    font-family:'Andale Mono', 'Times New Roman', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav {
  font-size: 20px;
  border-bottom: thin solid black;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
  text-decoration: underline;
  color: black
}

#container {
  background: url("https://assets2.ello.co/uploads/user/cover_image/350710/ello-optimized-3cb17496.jpg") no-repeat;
  background-size: cover;
}
