* {
  font-family: 'Cutive Mono', monospace;
}

body {
  margin: 60px auto;
  width: 70%;
  background: url("http://68.media.tumblr.com/249a4bdc01b8d9f8ba8096f6b76dfe4e/tumblr_inline_mt4ng7J4wZ1rydp4g.png");
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul, footer ul {
    font-family:'Andale Mono', 'Times New Roman', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav {
  font-size: 20px;
  border-bottom: thin solid black;
  background: white;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
  text-decoration: underline;
  color: black
}

