* {
  font-family: 'Cutive Mono', monospace;
}

body {
  margin: 60px auto;
  width: 70%;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul, footer ul {
    font-family:'Andale Mono', 'Times New Roman', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav {
  font-size: 20px;
  border-bottom: thin solid black;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

img {
  width: 30%;
  height: 30%;
}

.lineBreak {
  height: 3px;
  background: radial-gradient(circle 500px, black, transparent);
}

.project {
  width: 50%;
  border-radius: 15px;
  margin: 0 auto;
  height: 300px;
}

.img {
  float: left;
  margin-right: 20px;
  border: thin solid black;
  padding: 20px;
}

.text {
  margin: 50px 10px;
}


footer {
    border-top: thin solid black;
    font-size: .8em;
}
