* {
  font-family: 'Cutive Mono', monospace;
}

body {
  margin: 60px auto;
  width: 70%;
  background: url("https://static.tumblr.com/396f61d1a751ec9aac719d9b46af4aff/jptwsxw/tuFo0r5d8/tumblr_static_tumblr_static_90oo215nak8w0048scg80ogos_640.png");
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul, footer ul {
    font-family:'Andale Mono', 'Times New Roman', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav {
  font-size: 20px;
  border-bottom: thin solid black;
  color: white;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: black;
}

#container3 {
  background: white;
}

